.container {
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
}
.image {
  max-width: 600px;
  max-height: 200px;
  padding: 20px;
}
.logo-container {
  width: 100%;
  height: 50%;
  align-self: center;
  margin-top: 30px;
}
