.container {
  padding: 20px;
  display: flex;
  align-items: center;
}
.table {
  margin-top: 24px;
}

.cost-filter-element {
  display: flex;
  align-items: center;
}

.slider {
  width: 100%;
}
.buttonGroup {
  width: 100%;
}
.button {
  width: 20%;
}
.margin-horizontal15 {
  margin-left: 15px;
  margin-right: 15px;
}
